.container {
  display: flex;
  flex-direction: column;
}

.inputText{
  width: 90%;
  height: 2rem;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.add-btn{
  height: 2rem;
  background-color: #00AEA4;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 10%;
  margin-left: 0.3rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  font-weight: bold;
  padding: 10px;
  background-color: #f7f7f7;
  margin-bottom: 10px;
  border: 3px solid #d9d9d9bf;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  flex: 1;
}

.delete-btn {
  height: 2rem;

}

